# Aula 02 - Trabalhando com dados


## 2.1. Objetivos de aprendizagem

1. Entender os tipos de dado elementares;
2. Entender os tipos de _container_ básicos;
3. Criar vetores e armazená-los em variáveis;
4. Entender operações entre vetores;
5. Importar dados de arquivos CSV e Excel.

## 2.2. Recursos

* Para melhor aproveitamento da aula recomenda-se a leitura prévia do [Capítulo 11: Importação de dados](https://r4ds.had.co.nz/data-import.html) do Livro _R for Data Science_
* [_Dataset_ de nomes de bebê na Escócia](https://www.nrscotland.gov.uk/files//statistics/babies-first-names-full-list/summary-records/babies-names16-all-names-years.csv)

Vamos iniciar o notebook carregando as bibliotecas locais.

In [8]:
home <- path.expand("~")
lib_dir <- file.path(file.path(home, "R"), "lib")
dir.create(lib_dir, showWarnings = FALSE)

library(utils)
.libPaths(c(lib_dir, .libPaths()))

## 2.3. Tipos de dado elementares

A linguagem R possui cinco tipos de dado elementares:

**type** | **description** | **example**
:---------|:-----------------|:-------------
double   | ponto flutuante | `.333337`
integer  | integer         | `-1`, `0` , `1`
numeric  | qualquer número real (int,dbl) | 	`1`, `.5`, `-.222`
boolean  | verdadeiro ou falso | `TRUE`, `FALSE`
character | string de texto | `"hello world"`, `'howdy'`

Existem outros tipos de dados, como `factor` que será importante em algum momento, mas com os tipos apresentados é possível tratar a maior parte dos dados.

Strings de caractere podem incluir qualquer elemento, incluindo aspas, desde que utilizando a contrabarra para escapar

In [1]:
my_string <- "The instructor said, \"R is cool,\" and the class agreed."
cat(my_string) # cat() prints the arguments

The instructor said, "R is cool," and the class agreed.

Os números que não possuem anotação de tipo são armazenados como double, mesmo aqueles que são números decimais, como `9`. Se quiser utilizar um inteiro exato, utilize o sufixo `L` (`9L` para o caso).

Se for necessário descobrir o tipo de dado, é possível utilizar a função `class`.

In [2]:
class(10) # numeric
class(10L) # integer
class("10") # string
class(10L == 11L) # logical

[1] "numeric"

[1] "integer"

[1] "character"

[1] "logical"

## 2.4. Tipos de _container_ básicos

### 2.4.1. Vetores

Vetores são as estruturas de dados mais importantes na linguagem R. Assim como na Matemática, um vetor em R é um conjunto de elementos ordenados, e todos os seus membros devem ser do mesmo tipo. Para criar um vetor é possível utilizar a sintaxe `c(...)`:

In [3]:
## put information into a vector using c(...)
c(1, 2, 3, 4)
c("this", "is", "cool")
1:6 # shortcut to make a vector of all integers x:y

[1] 1 2 3 4

[1] "this" "is"   "cool"

[1] 1 2 3 4 5 6

#### 2.4.1.1. Selecionando valores em um vetor

Para selecionar valores de um vetor utilizamos o operador especial `[]` ou o vetor especial `LETTERS`

In [6]:
word <- c(18, 19, 20, 21, 4, 9, 15)
LETTERS[word]

[1] "R" "S" "T" "U" "D" "I" "O"

In [8]:
word[1]

[1] 18

Também é possível criar _named vectors_ onde cada um dos elementos tem um nome. Ex.:

In [9]:
vec <- c(first = 77.9, second = -13.2, third = 100.1)
vec

 first second  third
  77.9  -13.2  100.1

Assim é possível acessar os elementos através do nome

In [10]:
vec[c("third", "second", "second")]

 third second second
 100.1  -13.2  -13.2

Note no exemplo que a ordem de acesso num vetor com nome (`named vector`) não faz diferença.

Também é possível acessar os elementos utilizando um vetor lógico entre colchetes. Nesse caso serão impressos somente os elementos cujo resultado for `TRUE` para o vetor de origem.

In [16]:
length(LETTERS)
LETTERS[c(TRUE, FALSE)]

[1] 26

 [1] "A" "C" "E" "G" "I" "K" "M" "O" "Q" "S" "U" "W" "Y"

#### 2.4.1.2. Sequências de repetição

O operador `:` cria uma lista de elementos no intervalo definido. Contudo, se for necessário repetir o vetor várias vezes existe a função `rep()`, que permite diferentes formas de repetição.

In [17]:
rep(0, 10)                      # ten zeroes
rep(c(1L, 3L), times = 7)       # alternating 1 and 3, 7 times
rep(c("A", "B", "C"), each = 2) # A to C, 2 times each

 [1] 0 0 0 0 0 0 0 0 0 0

 [1] 1 3 1 3 1 3 1 3 1 3 1 3 1 3

[1] "A" "A" "B" "B" "C" "C"

A função `rep()` e útil para criar um vetor de valores lógicos (`TRUE`/`FALSE` ou `0`/`1`) para selecionar valores de outro vetor.

In [18]:
# Get subject IDs in the pattern Y Y N N ...
subject_ids <- 1:40
yynn <- rep(c(TRUE, FALSE), each = 2, 
            length.out = length(subject_ids))
subject_ids[yynn]

 [1]  1  2  5  6  9 10 13 14 17 18 21 22 25 26 29 30 33 34 37 38

E se for necessário criar uma sequência que possua incremento diferente de números inteiros? Para isso existe a função `seq()`:

In [19]:
seq(from = -1, to = 1, by = 0.2)
seq(0, 100, length.out = 11)
seq(0, 10, along.with = LETTERS)

 [1] -1.0 -0.8 -0.6 -0.4 -0.2  0.0  0.2  0.4  0.6  0.8  1.0

 [1]   0  10  20  30  40  50  60  70  80  90 100

 [1]  0.0  0.4  0.8  1.2  1.6  2.0  2.4  2.8  3.2  3.6  4.0  4.4  4.8  5.2  5.6
[16]  6.0  6.4  6.8  7.2  7.6  8.0  8.4  8.8  9.2  9.6 10.0

#### 2.4.1.3. Operações entre vetores

A linguagem R realiza operações entre vetores de uma forma bastante peculiar. Vejamos um exemplo utilizando _z-scores_ que representa o _score_ de desvio (um _score_ menos a média) dividido pelo desvio padrão com quatro IQ _scores_

In [2]:
## example IQ scores: mu = 100, sigma = 15
iq <- c(86, 101, 127, 99)

Se quisermos subtrair a média dos quatro `scores` do vetor, utilizamos apenas o seguinte trecho de código:

In [3]:
iq - 100

[1] -14   1  27  -1

Esse comando vai subtrair 100 (a média) de cada um dos elementos do vetor. A linguagem R assume que esse é o comportamento desejado, custituindo o que se define como _vectorized operation_ , e facilita a representação de operações complexas de maneira mais eficiente.

Tomemos como exemplo o cálculo dos z-scores:

![Fórmula z-score](images/z-scores.png)

onde X são os scores, mi a média e alfa o desvio padrão. É possível expressar a fórmula em R utilizando a seguinte sintaxe:

In [5]:
## z-scores
(iq - 100) / 15

[1] -0.93333333  0.06666667  1.80000000 -0.06666667

Assim, computamos os _z-scores_ com apenas uma linha de código.

#### 2.4.1.4. Exercícios

1. O vetor `letters` contém as letras do alfabeto em inglês. Utilize um vetor indexado de inteiros para extrair as letras da palavra 'cat'.
2. A função `colors()` retorna o nome de todas as cores que o R conhece. Qual o tamanho do vetor retornado por essa função? Utilize as operações da linguagem R para encontrar a resposta.
3. A chamada `runif(1000, 0, 1)` desenha 1000 números de uma distribuição uniforme de 0 a 1, simulando os p-valores retornados ao realizar 1000 experimentos onde a hipótese nula é verdadeira. Armazene o resultado dessa chamada na variável `pvals`. Crie um vetor lógico chamado `is_sig` que é `TRUE` se o elemento correspondente de `pvals` for menor que .05, e `FALSE` se não for. Depois, utilize esse vetor lógio para recuperar esses p-valores. Finalmente, calcule a proporção dos p-valores que foi insignificante.

In [1]:
# Faça os exercícios aqui

### 2.4.2. Listas

Como informado na seção anterior, os vetores podem armazenar somente valores do mesmo tipo. O que fazer então se desejarmos armazenar uma coleção de valores com diferentes tipos? É para isso que utilizamos o tipo `list`, utilizando a função `list()`.

In [6]:
albums <- 
  list(
    Michael_Jackson = c(
      "Off the Wall",
      "Thriller",
      "Bad",
      "Dangerous"
    ),
    Nirvana = c(
      "Bleach",
      "Nevermind",
      "In Utero"
    )
  )  

names(albums)
length(albums)

[1] "Michael_Jackson" "Nirvana"

[1] 2

### 2.4.3. Dados tabulados

A maior parte dos dados que utilizamos nas análises são **dados tabulados** , ou seja, dados oriundos de tabelas.  Estruturas de dados tabulares, como listas, permitem criar uma coleção de dados de diferentes tipos, mas restrita ao fato de que cada coluna da tabela (elemento da lista) deve ter o mesmo número de elementos. A versão em R das tabelas é chamada de `data.frame`, enquanto a versão do _tidyverse_ é chamada de `tibble`. Como os tibbles são um formato mais fácil de trabalhar, vamos focar os primeiros exemplos nessa estrutura de dados. Para conhecer melhor a diferença entre essas duas estruturas de dados, veja `vignette("tibble")`.

Ao criar um tibble é possível utilizar a função `tibble()` definindo o tipo de dado no momento da criação. Note que se for necessário repetir um valor, só é preciso definir um vetor com um único elemento; o R vai estender o vetor para preencher a tabela. Todas as colunas no tibble devem ter o mesmo tamanho ou tamanho 1.

Para utilizar a função `tibble()`, é necessário carregar o pacote `tibble` ou o pacote `tidyverse`.

In [9]:
install.packages("tidyverse")
library("tidyverse")

Installing package into ‘/home/eduardo/R/lib’
(as ‘lib’ is unspecified)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

É possível obter informação a respeito das dimensões da tabela utilizando a função `ncols()` (colunas), `nrows()` (linhas) ou `dim()` (vetor com número de linhas e colunas).

In [10]:
months <- tibble(ID = 1:12,
                 name = c("Jan", "Feb", "Mar", "Apr",
                          "May", "Jun", "Jul", "Aug",
                          "Sep", "Oct", "Nov", "Dec"))

# print it
months

# how many rows?
nrow(months)

# how many columns?
ncol(months)

   ID name
1   1 Jan
2   2 Feb
3   3 Mar
4   4 Apr
5   5 May
6   6 Jun
7   7 Jul
8   8 Aug
9   9 Sep
10 10 Oct
11 11 Nov
12 12 Dec

[1] 12

[1] 2

#### 2.4.3.2. Visualizando seu tibble

Sempre visualize seus dados uma vez que tiver criado a tabela para armazená-los. Depois veja pelo menos um ubstrato das informações após cada transformação.

As funções para visualização dos dados em um tibble são 3: `View()`, `print()` e `glimpse()`. Perceba que não é comum imprimir os dados em um script; normalmente trata-se de uma operação intermediária para validação das informações. 

O método `print()` pode ser chamado, mas também é executado ao simplesmente chamar a variável na linha de comando. Normalmente utilizamos a função `print()` quando desejamos controlar a disposição das informações.

A utilização do Jupyter facilita a visualização de dados tabulados. Para exemplificar a diferença, utilizamos a tabela `starwars` que faz parte do _tidyverse_ . No console do R, somente as 10 primeiras linhas seriam visualizadas:

```
starwars

## # A tibble: 87 x 13
##    name  height  mass hair_color skin_color eye_color birth_year gender
##    <chr>  <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> 
##  1 Luke…    172    77 blond      fair       blue            19   male  
##  2 C-3PO    167    75 <NA>       gold       yellow         112   <NA>  
##  3 R2-D2     96    32 <NA>       white, bl… red             33   <NA>  
##  4 Dart…    202   136 none       white      yellow          41.9 male  
##  5 Leia…    150    49 brown      light      brown           19   female
##  6 Owen…    178   120 brown, gr… light      blue            52   male  
##  7 Beru…    165    75 brown      light      blue            47   female
##  8 R5-D4     97    32 <NA>       white, red red             NA   <NA>  
##  9 Bigg…    183    84 black      light      brown           24   male  
## 10 Obi-…    182    77 auburn, w… fair       blue-gray       57   male  
## # … with 77 more rows, and 5 more variables: homeworld <chr>, species <chr>,
## #   films <list>, vehicles <list>, starships <list>
```

Com a utilização do Jupyter vemos os dados da tabela formatados para auxiliar a visualização:

In [11]:
starwars

   name                  height mass   hair_color    skin_color
1  Luke Skywalker        172      77.0 blond         fair
2  C-3PO                 167      75.0 NA            gold
3  R2-D2                  96      32.0 NA            white, blue
4  Darth Vader           202     136.0 none          white
5  Leia Organa           150      49.0 brown         light
6  Owen Lars             178     120.0 brown, grey   light
7  Beru Whitesun lars    165      75.0 brown         light
8  R5-D4                  97      32.0 NA            white, red
9  Biggs Darklighter     183      84.0 black         light
10 Obi-Wan Kenobi        182      77.0 auburn, white fair
11 Anakin Skywalker      188      84.0 blond         fair
12 Wilhuff Tarkin        180        NA auburn, grey  fair
13 Chewbacca             228     112.0 brown         unknown
14 Han Solo              180      80.0 brown         fair
15 Greedo                173      74.0 NA            green
16 Jabba Desilijic Tiure 175    1358.0 NA            green-tan, brown
17 Wedge Antilles        170      77.0 brown         fair
18 Jek Tono Porkins      180     110.0 brown         fair
19 Yoda                   66      17.0 white         green
20 Palpatine             170      75.0 grey          pale
21 Boba Fett             183      78.2 black         fair
22 IG-88                 200     140.0 none          metal
23 Bossk                 190     113.0 none          green
24 Lando Calrissian      177      79.0 black         dark
25 Lobot                 175      79.0 none          light
26 Ackbar                180      83.0 none          brown mottle
27 Mon Mothma            150        NA auburn        fair
28 Arvel Crynyd           NA        NA brown         fair
29 Wicket Systri Warrick  88      20.0 brown         brown
30 Nien Nunb             160      68.0 none          grey
⋮  ⋮                     ⋮      ⋮      ⋮             ⋮
58 Cordé                 157       NA  brown         light
59 Cliegg Lars           183       NA  brown         fair
60 Poggle the Lesser     183     80.0  none          green
61 Luminara Unduli       170     56.2  black         yellow
62 Barriss Offee         166     50.0  black         yellow
63 Dormé                 165       NA  brown         light
64 Dooku                 193     80.0  white         fair
65 Bail Prestor Organa   191       NA  black         tan
66 Jango Fett            183     79.0  black         tan
67 Zam Wesell            168     55.0  blonde        fair, green, yellow
68 Dexter Jettster       198    102.0  none          brown
69 Lama Su               229     88.0  none          grey
70 Taun We               213       NA  none          grey
71 Jocasta Nu            167       NA  white         fair
72 Ratts Tyerell          79     15.0  none          grey, blue
73 R4-P17                 96       NA  none          silver, red
74 Wat Tambor            193     48.0  none          green, grey
75 San Hill              191       NA  none          grey
76 Shaak Ti              178     57.0  none          red, blue, white
77 Grievous              216    159.0  none          brown, white
78 Tarfful               234    136.0  brown         brown
79 Raymus Antilles       188     79.0  brown         light
80 Sly Moore             178     48.0  none          pale
81 Tion Medon            206     80.0  none          grey
82 Finn                   NA       NA  black         dark
83 Rey                    NA       NA  brown         light
84 Poe Dameron            NA       NA  brown         light
85 BB8                    NA       NA  none          none
86 Captain Phasma         NA       NA  unknown       unknown
87 Padmé Amidala         165     45.0  brown         light
   eye_color     birth_year gender        homeworld    species
1  blue           19.0      male          Tatooine     Human
2  yellow        112.0      NA            Tatooine     Droid
3  red            33.0      NA            Naboo        Droid
4  yellow         41.9      male          Tatooine     Human
5  brown          19.0      female        Alderaan     Human
6  blue           52.0      male          Tatooine     Human
7  blue           47.0      female        Tatooine     Human
8  red              NA      NA            Tatooine     Droid
9  brown          24.0      male          Tatooine     Human
10 blue-gray      57.0      male          Stewjon      Human
11 blue           41.9      male          Tatooine     Human
12 blue           64.0      male          Eriadu       Human
13 blue          200.0      male          Kashyyyk     Wookiee
14 brown          29.0      male          Corellia     Human
15 black          44.0      male          Rodia        Rodian
16 orange        600.0      hermaphrodite Nal Hutta    Hutt
17 hazel          21.0      male          Corellia     Human
18 blue             NA      male          Bestine IV   Human
19 brown         896.0      male          NA           Yoda's species
20 yellow         82.0      male          Naboo        Human
21 brown          31.5      male          Kamino       Human
22 red            15.0      none          NA           Droid
23 red            53.0      male          Trandosha    Trandoshan
24 brown          31.0      male          Socorro      Human
25 blue           37.0      male          Bespin       Human
26 orange         41.0      male          Mon Cala     Mon Calamari
27 blue           48.0      female        Chandrila    Human
28 brown            NA      male          NA           Human
29 brown           8.0      male          Endor        Ewok
30 black            NA      male          Sullust      Sullustan
⋮  ⋮             ⋮          ⋮             ⋮            ⋮
58 brown          NA        female        Naboo        Human
59 blue           82        male          Tatooine     Human
60 yellow         NA        male          Geonosis     Geonosian
61 blue           58        female        Mirial       Mirialan
62 blue           40        female        Mirial       Mirialan
63 brown          NA        female        Naboo        Human
64 brown         102        male          Serenno      Human
65 brown          67        male          Alderaan     Human
66 brown          66        male          Concord Dawn Human
67 yellow         NA        female        Zolan        Clawdite
68 yellow         NA        male          Ojom         Besalisk
69 black          NA        male          Kamino       Kaminoan
70 black          NA        female        Kamino       Kaminoan
71 blue           NA        female        Coruscant    Human
72 unknown        NA        male          Aleen Minor  Aleena
73 red, blue      NA        female        NA           NA
74 unknown        NA        male          Skako        Skakoan
75 gold           NA        male          Muunilinst   Muun
76 black          NA        female        Shili        Togruta
77 green, yellow  NA        male          Kalee        Kaleesh
78 blue           NA        male          Kashyyyk     Wookiee
79 brown          NA        male          Alderaan     Human
80 white          NA        female        Umbara       NA
81 black          NA        male          Utapau       Pau'an
82 dark           NA        male          NA           Human
83 hazel          NA        female        NA           Human
84 brown          NA        male          NA           Human
85 black          NA        none          NA           Droid
86 unknown        NA        female        NA           NA
87 brown          46        female        Naboo        Human
   films
1  Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope             , The Force Awakens
2  Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope
3  Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope             , The Force Awakens
4  Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope
5  Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope             , The Force Awakens
6  Attack of the Clones, Revenge of the Sith , A New Hope
7  Attack of the Clones, Revenge of the Sith , A New Hope
8  A New Hope
9  A New Hope
10 Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope
11 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
12 Revenge of the Sith, A New Hope
13 Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back, A New Hope             , The Force Awakens
14 Return of the Jedi     , The Empire Strikes Back, A New Hope             , The Force Awakens
15 A New Hope
16 The Phantom Menace, Return of the Jedi, A New Hope
17 Return of the Jedi     , The Empire Strikes Back, A New Hope
18 A New Hope
19 Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back
20 Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , The Empire Strikes Back
21 Attack of the Clones   , Return of the Jedi     , The Empire Strikes Back
22 The Empire Strikes Back
23 The Empire Strikes Back
24 Return of the Jedi     , The Empire Strikes Back
25 The Empire Strikes Back
26 Return of the Jedi, The Force Awakens
27 Return of the Jedi
28 Return of the Jedi
29 Return of the Jedi
30 Return of the Jedi
⋮  ⋮
58 Attack of the Clones
59 Attack of the Clones
60 Attack of the Clones, Revenge of the Sith
61 Attack of the Clones, Revenge of the Sith
62 Attack of the Clones
63 Attack of the Clones
64 Attack of the Clones, Revenge of the Sith
65 Attack of the Clones, Revenge of the Sith
66 Attack of the Clones
67 Attack of the Clones
68 Attack of the Clones
69 Attack of the Clones
70 Attack of the Clones
71 Attack of the Clones
72 The Phantom Menace
73 Attack of the Clones, Revenge of the Sith
74 Attack of the Clones
75 Attack of the Clones
76 Attack of the Clones, Revenge of the Sith
77 Revenge of the Sith
78 Revenge of the Sith
79 Revenge of the Sith, A New Hope
80 Attack of the Clones, Revenge of the Sith
81 Revenge of the Sith
82 The Force Awakens
83 The Force Awakens
84 The Force Awakens
85 The Force Awakens
86 The Force Awakens
87 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
   vehicles
1  Snowspeeder          , Imperial Speeder Bike
2
3
4
5  Imperial Speeder Bike
6
7
8
9
10 Tribubble bongo
11 Zephyr-G swoop bike, XJ-6 airspeeder
12
13 AT-ST
14
15
16
17 Snowspeeder
18
19
20
21
22
23
24
25
26
27
28
29
30
⋮  ⋮
58
59
60
61
62
63
64 Flitknot speeder
65
66
67 Koro-2 Exodrive airspeeder
68
69
70
71
72
73
74
75
76
77 Tsmeu-6 personal wheel bike
78
79
80
81
82
83
84
85
86
87
   starships
1  X-wing          , Imperial shuttle
2
3
4  TIE Advanced x1
5
6
7
8
9  X-wing
10 Jedi starfighter        , Trade Federation cruiser, Naboo star skiff        , Jedi Interceptor        , Belbullab-22 starfighter
11 Trade Federation cruiser, Jedi Interceptor        , Naboo fighter
12
13 Millennium Falcon, Imperial shuttle
14 Millennium Falcon, Imperial shuttle
15
16
17 X-wing
18 X-wing
19
20
21 Slave 1
22
23
24 Millennium Falcon
25
26
27
28 A-wing
29
30 Millennium Falcon
⋮  ⋮
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77 Belbullab-22 starfighter
78
79
80
81
82
83
84 T-70 X-wing fighter
85
86
87 H-type Nubian yacht, Naboo star skiff   , Naboo fighter

A função `print()` pode ser chamada explicitamente para visualizar todos os dados no formato do console. O exemplo abaixo utiliza o símbolo `+Inf` para representar infinitas linhas.

In [14]:
print(starwars, n = +Inf)

# A tibble: 87 x 13
   name  height   mass hair_color skin_color eye_color birth_year gender
   <chr>  <int>  <dbl> <chr>      <chr>      <chr>          <dbl> <chr>
 1 Luke…    172   77   blond      fair       blue            19   male
 2 C-3PO    167   75   NA         gold       yellow         112   NA
 3 R2-D2     96   32   NA         white, bl… red             33   NA
 4 Dart…    202  136   none       white      yellow          41.9 male
 5 Leia…    150   49   brown      light      brown           19   female
 6 Owen…    178  120   brown, gr… light      blue            52   male
 7 Beru…    165   75   brown      light      blue            47   female
 8 R5-D4     97   32   NA         white, red red             NA   NA
 9 Bigg…    183   84   black      light      brown           24   male
10 Obi-…    182   77   auburn, w… fair       blue-gray       57   male
11 Anak…    188   84   blond      fair       blue            41.9 male
12 Wilh…    180   NA   auburn, g… fair       blue            64   male
13 Chew…    228  112   brown      unknown    blue           200   male
14 Han …    180   80   brown      fair       brown           29   male
15 Gree…    173   74   NA         green      black           44   male
16 Jabb…    175 1358   NA         green-tan… orange         600   herma…
17 Wedg…    170   77   brown      fair       hazel           21   male
18 Jek …    180  110   brown      fair       blue            NA   male
19 Yoda      66   17   white      green      brown          896   male
20 Palp…    170   75   grey       pale       yellow          82   male
21 Boba…    183   78.2 black      fair       brown           31.5 male
22 IG-88    200  140   none       metal      red             15   none
23 Bossk    190  113   none       green      red             53   male
24 Land…    177   79   black      dark       brown           31   male
25 Lobot    175   79   none       light      blue            37   male
26 Ackb…    180   83   none       brown mot… orange          41   male
27 Mon …    150   NA   auburn     fair       blue            48   female
28 Arve…     NA   NA   brown      fair       brown           NA   male
29 Wick…     88   20   brown      brown      brown            8   male
30 Nien…    160   68   none       grey       black           NA   male
31 Qui-…    193   89   brown      fair       blue            92   male
32 Nute…    191   90   none       mottled g… red             NA   male
33 Fini…    170   NA   blond      fair       blue            91   male
34 Jar …    196   66   none       orange     orange          52   male
35 Roos…    224   82   none       grey       orange          NA   male
36 Rugo…    206   NA   none       green      orange          NA   male
37 Ric …    183   NA   brown      fair       blue            NA   male
38 Watto    137   NA   black      blue, grey yellow          NA   male
39 Sebu…    112   40   none       grey, red  orange          NA   male
40 Quar…    183   NA   black      dark       brown           62   male
41 Shmi…    163   NA   black      fair       brown           72   female
42 Dart…    175   80   none       red        yellow          54   male
43 Bib …    180   NA   none       pale       pink            NA   male
44 Ayla…    178   55   none       blue       hazel           48   female
45 Dud …     94   45   none       blue, grey yellow          NA   male
46 Gasg…    122   NA   none       white, bl… black           NA   male
47 Ben …    163   65   none       grey, gre… orange          NA   male
48 Mace…    188   84   none       dark       brown           72   male
49 Ki-A…    198   82   white      pale       yellow          92   male
50 Kit …    196   87   none       green      black           NA   male
51 Eeth…    171   NA   black      brown      brown           NA   male
52 Adi …    184   50   none       dark       blue            NA   female
53 Saes…    188   NA   none       pale       orange          NA   male
54 Yara…    264   NA   none       white      yellow          NA   male
55 Plo …    188   80   none       orange     black           22   male
56 Mas …    196   NA   none       blue       blue            NA   male
57 Greg…    185   85   black      dark       brown           NA   male
58 Cordé    157   NA   brown      light      brown           NA   female
59 Clie…    183   NA   brown      fair       blue            82   male
60 Pogg…    183   80   none       green      yellow          NA   male
61 Lumi…    170   56.2 black      yellow     blue            58   female
62 Barr…    166   50   black      yellow     blue            40   female
63 Dormé    165   NA   brown      light      brown           NA   female
64 Dooku    193   80   white      fair       brown          102   male
65 Bail…    191   NA   black      tan        brown           67   male
66 Jang…    183   79   black      tan        brown           66   male
67 Zam …    168   55   blonde     fair, gre… yellow          NA   female
68 Dext…    198  102   none       brown      yellow          NA   male
69 Lama…    229   88   none       grey       black           NA   male
70 Taun…    213   NA   none       grey       black           NA   female
71 Joca…    167   NA   white      fair       blue            NA   female
72 Ratt…     79   15   none       grey, blue unknown         NA   male
73 R4-P…     96   NA   none       silver, r… red, blue       NA   female
74 Wat …    193   48   none       green, gr… unknown         NA   male
75 San …    191   NA   none       grey       gold            NA   male
76 Shaa…    178   57   none       red, blue… black           NA   female
77 Grie…    216  159   none       brown, wh… green, y…       NA   male
78 Tarf…    234  136   brown      brown      blue            NA   male
79 Raym…    188   79   brown      light      brown           NA   male
80 Sly …    178   48   none       pale       white           NA   female
81 Tion…    206   80   none       grey       black           NA   male
82 Finn      NA   NA   black      dark       dark            NA   male
83 Rey       NA   NA   brown      light      hazel           NA   female
84 Poe …     NA   NA   brown      light      brown           NA   male
85 BB8       NA   NA   none       none       black           NA   none
86 Capt…     NA   NA   unknown    unknown    unknown         NA   female
87 Padm…    165   45   brown      light      brown           46   female
# … with 5 more variables: homeworld <chr>, species <chr>, films <list>,
#   vehicles <list>, starships <list>

Contudo, o exemplo acaba ocultando algumas colunas. Se quisermos visualizar todas as colunas, podemos utilizar a função `glimpse()`, que inverte a orientação da tabela para mostrar todas as colunas.

In [15]:
glimpse(starwars)

Observations: 87
Variables: 13
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia O…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, …
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", …
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", …
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue"…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0,…
$ gender     <chr> "male", NA, NA, "male", "female", "male", "female", NA, "m…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Hum…
$ films      <list> [<"Revenge of the Sith", "Return of the Jedi", "The Empir…
$ vehicles   <list> [<"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "I…
$ starships  <list> [<"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1…

A função `View()` pode ser utilizada no console para visualizar a mesma tabela fornecida pelo Jupyter ao chamar a função `print()`. Por razões óbvias não é possível utilizar a função no Jupyter.

A maior vantagem da utilização dos notebooks é poder visualizar os dados em formato amigável a cada passo da análise, facilitando ainda a importação dos resultados.

#### 2.4.3.2. Acessando linhas e colunas

Existem diferentes formas de acessar colunas em uma tabela, mas trataremos o acesso aos dados na tabela mais a frente no curso. Alguns exemplos:

In [20]:
months[1, ] # first row

months[, 2] # second column (position)

months[1:3, ] # first 3 months

months[, c("name")] # access column by name

months$name  # by column name

  ID name
1 1  Jan

   name
1  Jan
2  Feb
3  Mar
4  Apr
5  May
6  Jun
7  Jul
8  Aug
9  Sep
10 Oct
11 Nov
12 Dec

  ID name
1 1  Jan
2 2  Feb
3 3  Mar

   name
1  Jan
2  Feb
3  Mar
4  Apr
5  May
6  Jun
7  Jul
8  Aug
9  Sep
10 Oct
11 Nov
12 Dec

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

#### 2.4.3.3. Exercícios

1. Utilize a função `as_tibble()` para formatar o dataset `mtcars` do pacote `tidyverse` e apresente os resultados no console do R.
2. Crie um tibble com nome, idade e sexo de 3-5 pessoas cujos nomes, idade e sexo você conhece.
3. Crie um tibble que tem a estrutura da tabela abaixo, utilizando a menor quantidade de digitação possível. Armazene os resultados na variável `my_tbl`. Dica: `rep()`
```
## # A tibble: 8 x 4
##      ID A     B     C    
##   <int> <chr> <chr> <chr>
## 1     1 A1    B1    C1   
## 2     2 A1    B2    C1   
## 3     3 A1    B1    C1   
## 4     4 A1    B2    C1   
## 5     5 A2    B1    C1   
## 6     6 A2    B2    C1   
## 7     7 A2    B1    C1   
## 8     8 A2    B2    C1
```
4. Faça a conversão da base `iris` nativa do R para um tibble, armazenando o resultado na variável `iris2`.

In [2]:
# Faça os exercícios aqui

## 2.5. Importando dados

Os dados utilizados nas análise estarão em diferentes fontes e formatos. Para carregar os arquivos, algumas extensões serão mais facilmente tratadas pela linguagem R, sendo suportadas por funções nativas para saída e/ou entrada.

**Extensão** | **Tipo de Arquivo** | **Leitura** | **Escrita**
:-------------|:---------------------|:-------------|:-------------
.csv | Separado por vírgula | readr::read_csv() | readr::write_csv()
.xls, .xslx | Planilha do Excel | readxl::read_excel() | N/A
.rds | Arquivo binário do R | readRDS() | saveRDS()
.RData | Arquivo binário do R | load() | save()

**Obs.:** Para chamadas de função, lembre-se da sintaxe. A chamada `readr::read_csv()` representa a função `read_csv()` do pacote `readr`.

O tipo de dados mais comum é o `.csv`. Como o nome sugere, trata-se de uma sequência de dados separados por vírgula, onde a primeira linha normalmente representa o nome das colunas. Vejamos um exemplo do [registro de nomes de bebê na Escócia](http://www.nrscotland.gov.uk/statistics-and-data/statistics/statistics-by-theme/vital-events/names/babies-first-names/babies-first-names-summary-records-comma-separated-value-csv-format):

```
yr,sex,FirstForename,number,rank,position
1974,B,David,1794,1,1
1974,B,John,1528,2,2
1974,B,Paul,1260,3,3
1974,B,Mark,1234,4,4
1974,B,James,1202,5,5
1974,B,Andrew,1067,6,6
1974,B,Scott,1060,7,7
1974,B,Steven,1020,8,8
1974,B,Robert,885,9,9
1974,B,Stephen,866,10,10
```

Esse dataset é composto de seis variáveis, cujos nomes estão na primeira linha: `yr`, `sex`, `FirstForename`, `number`, `rank` e `position`. Observe que os valores estão em ordem, separados por vírgula, cada linha uma ocorrência.

Ao realizar a leitura de arquivos do tipo CSV é uma boa prática utilizar a função `readr::read_csv()`. Na maior parte dos casos os dados lidos serão armazenados em uma variável.

### 2.5.1. Escrevendo os dados

Para salvar no formato CSV, utilize a função `readr::write_csv()`

## 2.6. Exercícios

1. Utilize os dados fornecidos de nomes de bebê na Escócia para ler os dados no formato CSV. Processe e depois escreva os resultados em um novo CSV.